.search_contacts {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: var(--accent);
    overflow: hidden;
    display: flex;
    max-width: 1700px;
    margin: auto;
}

.search_contacts .main {
    height: 90%;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.search_contacts .main_tab {
    height: 100%;
    width: 50%;
    background: var(--bg);
    overflow: hidden;
    position: relative;
}


/* swiftcom */

.search_contacts .swiftcom {
    height: 100%;
    width: 50%;
    background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244));
    overflow: hidden;
    position: relative;
}

.search_contacts .swiftcom .innercom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search_contacts .swiftcom .innercom .logo svg {
    border-radius: 50%;
    width: 13vw;
}

.search_contacts .swiftcom .innercom h1 {
    font-family: var(--heading);
    text-align: center;
    margin-top: 0.2em;
    color: var(--bg);
    font-size: 3vw;
}


/* -------top------ */

.search_contacts .top {
    width: 100%;
    height: 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0em 2em;
    font-size: 5vw;
    font-family: var(--heading);
    color: var(--text1);
    background: var(--accent);
}


/* -------middle------ */

.search_contacts .mid {
    width: 100%;
    height: 15%;
    overflow: hidden;
}

.search_contacts .mid form {
    width: 100%;
    height: 100%;
    background: var(--accent);
}

.search_contacts .mid .srchdiv {
    background: var(--accent);
    height: 60%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0em 1em;
}

.search_contacts .mid input {
    border: none;
    outline: none;
    border-radius: 1em;
    padding: 0.7em 1em 0.7em 3em;
    font-size: 3.6vw;
    font-family: var(--heading);
    font-weight: 700;
    width: 100%;
    background: var(--bg);
    color: var(--text2);
}

.search_contacts .mid input:focus {
    background: var(--bg);
    color: var(--text2);
}

.search_contacts .mid input::placeholder {
    font-size: 14px;
    font-family: var(--heading);
    letter-spacing: 0.1em;
    font-weight: 100;
    color: var(--text3);
}

.search_contacts .mid i {
    border-radius: 50%;
    position: absolute;
    left: 1em;
    padding: 0.5em;
    color: var(--accent);
    font-size: 4.7vw;
}

.search_contacts .mid .options {
    width: 100%;
    height: 40%;
    overflow: hidden;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0em 1em;
}

.search_contacts .mid .options label {
    font-family: var(--heading);
    font-size: 4vw;
    font-weight: 700;
    margin-right: 1em;
    color: var(--text2);
}

.search_contacts .mid .options select {
    outline: none;
    border: none;
    background: var(--accent);
    color: var(--bg);
    padding: 0.3em;
    border-radius: 0.3em;
    font-family: var(--heading);
    font-size: 3.5vw;
}

.search_contacts .mid .options select option {
    outline: none;
    border: none;
    background: var(--bg);
    color: var(--text2);
    padding: 0.3em;
    font-family: var(--heading);
    font-size: 3.5vw;
}

.search_contacts .mid button {
    display: none;
}


/* -------bottom------ */

.search_contacts .bottom {
    width: 100%;
    height: 75%;
    overflow: hidden;
    background: var(--bg);
}

.search_contacts .bottom .results {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: var(--bg);
    padding: 0.5em;
    position: relative;
}

.search_contacts .bottom .results img {
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search_contacts .bottom .results img.initial {
    /* display: none; */
    display: block;
}

.nothing_found {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: none; */
    text-align: center;
}

.nothing_found span {
    font-size: 6vw;
    font-family: var(--bold);
    color: var(--text2);
}

.nothing_found a {
    font-size: 4vw;
    font-family: var(--text);
    color: var(--accent);
}

.search_contacts .results::-webkit-scrollbar {
    width: 0px;
}

.search_contacts .bottom .search_result {
    display: flex;
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-top: 0.3em;
    padding: 0.5em 1em;
    border-radius: 0.8em;
    position: relative;
    background: var(--bg2);
}

.search_contacts .bottom .search_result.blocked {
    border: 3px solid var(--danger);
}

.search_contacts .bottom .search_result .left {
    height: 100%;
    width: 23%;
    overflow: hidden;
    position: relative;
}

.search_contacts .bottom .search_result .left img {
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
    padding: 0.1em;
}

.search_contacts .bottom .search_result .right {
    height: 100%;
    width: 77%;
    overflow: hidden;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search_contacts .bottom .search_result .right .info {
    height: 100%;
    overflow: hidden;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_contacts .bottom .search_result .right .info .inner-info {
    width: 100%;
    overflow: hidden;
    padding-right: 1em;
}

.search_contacts .bottom .search_result .right h1 {
    font-family: var(--text);
    font-size: 5.8vw;
    color: var(--text2);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search_contacts .bottom .search_result .right h2 {
    font-family: var(--heading);
    font-size: 2.6vw;
    color: var(--text3);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search_contacts .bottom .search_result .right .info button {
    float: right;
    white-space: nowrap;
    border: none;
    outline: none;
    color: var(--bg);
    font-family: var(--heading);
    font-size: 4vw;
    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    cursor: pointer;
}

.search_contacts .bottom .search_result .right .info button.add {
    background: var(--danger);
}

.search_contacts .bottom .search_result .right .info button.added {
    background: var(--success);
}

.search_contacts .bottom .search_result .right .info button.blockedbtn {
    background: var(--danger);
    color: var(--text1);
}


/* -------very bottom------ */

.search_contacts .very_bottom {
    width: 100%;
    height: 10%;
    padding: 0em 3em;
    background: var(--bg);
    font-family: var(--text);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    border-top: 2px solid var(--shadow2);
}

.search_contacts .very_bottom div {
    padding: 0.5em;
    position: relative;
}

.search_contacts .very_bottom div.onthis::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 4px;
    border-radius: 100em;
    width: 90%;
    background: var(--accent);
}

.search_contacts .very_bottom img {
    width: 8vw;
    filter: var(--icons);
    cursor: pointer;
}


/* --------------media queries--------------- */

@media(max-width:1025px) {
    .search_contacts .swiftcom {
        width: 30%;
    }
    .search_contacts .main_tab {
        width: 70%;
    }
}

@media(min-width:550px) {
    /* top */
    .search_contacts .top {
        font-size: 20px;
    }
    /* middle */
    .search_contacts .mid input {
        font-size: 16px;
    }
    .search_contacts .mid i {
        font-size: 24px;
    }
    .search_contacts .mid .options label {
        font-size: 16px;
    }
    .search_contacts .mid .options select {
        font-size: 14px;
    }
    .search_contacts .mid .options select option {
        font-size: 14px;
    }
    /* bottom */
    .nothing_found {
        font-size: 25px;
    }
    .search_contacts .bottom .search_result .left img {
        height: 60px;
        width: 60px;
    }
    .search_contacts .bottom .search_result .right h1 {
        font-size: 25px;
    }
    .search_contacts .bottom .search_result .right h2 {
        font-size: 10px;
    }
    .search_contacts .bottom .search_result .right .info button {
        font-size: 16px;
    }
    /* very bottom */
    .search_contacts .very_bottom img {
        width: 30px;
    }
}

@media(max-width:550px) {
    .search_contacts .swiftcom {
        display: none;
    }
    .search_contacts .main_tab {
        width: 100%;
    }
}